# Python programming & markdown
## python programming &markdown
### python programming &markdown
#### python programming &markdown
##### python programming &markdown
###### python programming &markdown

##### program
- point 1
    - point 11
- point 2
    - point 21
    - point 22
- point 3

<img src='huh.png'>

<img src='huuh.png'>

In [5]:
 print('hello rishi')
print('welcome')

hello rishi
welcome

In [7]:
print('hello rishi', '|||' , end = '')
print('welcome')

hello rishi |||welcome

####Data type coversion
- int
- float
- string

In [8]:
a =100
print(a)
print(type(a))

100
<class 'int'>

In [9]:
a =100
s='python programming'
s1="python programming"
print(a)
print(s)
print(s1)
print(type(a))
print(type(s))
print(type(s1))

100
python programming
python programming
<class 'int'>
<class 'str'>
<class 'str'>

In [10]:
a =100
s='python programming'
s1="python programming"
b=5.6723
print(a)
print(s)
print(s1)
print(type(a))
print(type(s))
print(type(s1))

100
python programming
python programming
<class 'int'>
<class 'str'>
<class 'str'>

#### data conversion
- int
- float
- str

In [14]:
a=100
print(a,end= '')
print(type(a))
s1=str(a)
print(s1,end= "")
print(type(s1))

100<class 'int'>
100<class 'str'>

In [17]:
s1= "100.123"
print(s1,end= "")
print(type(s1))
a1=float(s1)
print(a1,end= '')
print(type(a1))
a2=int(a1)
print(a2,end= '')
print(type(a2))

100.123<class 'str'>
100.123<class 'float'>
100<class 'int'>

In [18]:
a=1234
print(len(str(a)))

4

### input()function
- read the input to the python program
- reads the input in terms of string format

In [20]:
s1=input('enter your name')
print(s1,type(s1))

enter your namerishi
rishi <class 'str'>

In [ ]:
a1= int(input('enter a number'))
print(a1,type(a1))

In [ ]:
a1= float(input('enter a decimal'))
print(a1,type(a1))

### operators
- +
- -
- *
- /
- %
- **
- //

In [1]:
print(10/3)
print(10//3)
print(2**3)

3.3333333333333335
3
8

In [2]:
x= 1 + 2 ** 3 / 4 + 5
print(x)

8.0

### logical operators
- and
- or
- not

In [5]:
a=10 
b= ( a > 9)and (a >= 10)
print(b,type(b))
b = (a > 9) and (a > 100)
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

### control flow staements
- conditional statements
   - if-else
- looping statements
   - while
   - for

In [2]:
##### read a number as input
# print the output as even or odd
a1 = int(input(''))
if a1%2 ==0:
    print('even')
else:
    print('odd')

35
odd

In [1]:
a2 = int(input(''))
if a2 ==0:
    print('zero')
elif a2 > 0:
    print('positive number')
elif a2 < 0:
    print('negative number')

12
positive number