### String functions

- upper() -- will convert input string into uppercase
- lower() -- will convert input string into lowercase

In [2]:
s1 = 'python'
print(s1.upper())
print(s1.lower())

PYTHON
python

### String Boolean Functions
- true or false
- islower() -- true if string have all characters lowercase
- isupper() -- true if the string have all characters uppercase
- istitle() -- true if the string in title case
- isnumeric() -- true if string is numeric
- isalpha() -- true if string is alphabetic

In [3]:
s1 = 'python'
print(s1.isupper())
print(s1.islower())

False
True

In [4]:
s1 = 'python programming'
print(s1.istitle())

False

In [6]:
s1 ='12345'
s2 = 'py'
print(s1.isnumeric())
print(s2.isalpha())

True
True

In [7]:
s1 = ' '
s2 = '1 2 3'
print(s1.isspace())
print(s2.isspace())

True
False

### String Methods
- split() --returns the list of strings by whitespace
- replace()-- replaces one character with any other characters
-

In [8]:
s1 = 'python programming'
li = s1.split()
print(li)

['python', 'programming']

In [10]:
s1 = 'python programming'
li = s1.split('o')
print(li)

['pyth', 'n pr', 'gramming']

In [11]:
s1 = 'python programming'
print(s1.replace(' ','-'))

python-programming

In [13]:
s1 = 'python programming'
print(s1.replace('p','@'))

@ython @rogramming

In [19]:
s1 = 'python'
print("y".join(s1))

pyyytyhyoyn

In [25]:
s1 = "py"
print("thon".join(s1))

pthony

### string formatting
 - classic version
 - current version

In [28]:
# classic version of(c and c++)
li = ["python","programming"]
print('%s %s ' %(li[0],li[1]))

python programming

In [30]:
li = [1,2,3,4]
print('%d %d %d %d ' %(li[0],li[1],li[2],li[3]))

1 2 3 4

In [31]:
# .format
li = ["python","programming"]
print("List item 0 : {0} \nlist item 1 : {1}".format(li[0],li[1]))

List item 0 : python
list item 1 : programming

### Data Structures
- list
- tuples
- dictionaries

### dictionaries
- it works on concept of unique data
- key,value is the uniques identifier a value
- each key is seperated from value colon(:)
- each key and value is seperated by comma(,)
- dictionaries are enclosed with curly brackets({})

In [33]:
d1 = {"name" : "nia sharma","emailID":"niasharma444@gmail.com"}
print(d1)

{'name': 'nia sharma', 'emailID': 'niasharma444@gmail.com'}

In [34]:
d1["name"]

'nia sharma'

In [35]:
d1["name"] = "manvi"

In [36]:
d1["name"]

'manvi'

In [37]:
d1["name"] = "kushal"

In [38]:
d1["name"]

'kushal'

In [39]:
li = d1.keys()
print(li)

dict_keys(['name', 'emailID'])

In [40]:
li = d1.values()
print(li)

dict_values(['kushal', 'niasharma444@gmail.com'])

In [41]:
del d1["name"]

In [42]:
d1

{'emailID': 'niasharma444@gmail.com'}

#### contact Application
- add contact details

In [48]:
contacts = {} # empty dict object
# lets create a function to add contact details
def addContact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print('contacts details are added successfully')
    else:
        print('name already exists')
    return
addContact('rishi','9848022338')
addContact('sin','8888888888')

contacts details are added successfully
contacts details are added successfully

In [49]:
print(contacts)

{'rishi': '9848022338', 'sin': '8888888888'}

In [51]:
def searchContact(name):
    if name in contacts:
        print(name, " : ",contacts[name])
    else:
        print('%s does not present' % name)
    return
searchContact('sin')
searchContact('kushal')

sin  :  8888888888
kushal does not present

In [55]:
# import new contact details
# merge the previous detils with new details
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),'contacts are added')
    return
newContacts = {'rihi':'9848022338', 'siin': '8888888888'}
importContacts(newContacts)

2 contacts are added

In [54]:
contacts

{'rishi': '9848022338',
 'sin': '8888888888',
 'rihi': '9848022338',
 'siin': '8888888888'}

In [56]:
def modifyContact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name, 'updated successfully')
    else:
        print(name, 'not exists')
    return   
modifyContact('rishi','9848022348')
modifyContact('sin','8888888889')

rishi updated successfully
sin updated successfully

In [57]:
contacts

{'rishi': '9848022348',
 'sin': '8888888889',
 'rihi': '9848022338',
 'siin': '8888888888'}

In [58]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,'deleted successfully')
    else:
        print(name,'not present')
    return
deleteContact('sin')

sin deleted successfully

In [59]:
contacts

{'rishi': '9848022348', 'rihi': '9848022338', 'siin': '8888888888'}

### Tuples
- tuples enclosed with parenthesis()
#### difference between tuples and list
  -lists are mutable --can be changed / modify
  - read and write the data
  - tuples are immutable --cant be changed / modified
    -read dat only

In [60]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [61]:
print(t1[:-1])
print(t1[-1:])
print(t1[-1::-1])

(1, 2, 3, 4)
(5,)
(5, 4, 3, 2, 1)

### standard libraries
- regular expressions
  - to validate the indian mobile

In [63]:
import math
math.floor(123.456)

123

In [64]:
math.ceil(123.456)

124