###Lamda Functions
- anonymous functions means that a function is without name
- Any lambda functions on python will be defined with lambda
- syntax : lambda arg : expression

In [1]:
def square(n):
    return n*n
square(10)

100

In [2]:
a = lambda x : x * x
print(a(10))

100

####  Use of lambda with filter

In [7]:
def filterList(li):
    a = []
    for i in li:
        if i % 2 == 0:
            a.append(i)
    return a
li = [1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [6]:
li = [1,2,3,4,5,6,7,8]
lam_li = list(filter(lambda x : (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

In [8]:
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### lambda with reduce()

In [10]:
def sumList(li):
    s = 0
    for i in li:
        s += i
    return s 
li = [1,2,3,4,5,6,7,8]
sumList(li)

36

In [11]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

### Standard Package

### Pandas,Numpy and Matplotlib

###### Pandas
#### Use cases
- data cleaning
- data transformation
- data analysis
### notaions
- series 
  - a series is a one dimensional object that can hold it
- dataframes

In [13]:
import pandas as pd
internal1 = {'s1':35,'s2':35,'s3':35}
internal2 = {'s1':35,'s2':35,'s3':35}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    35
s2    35
s3    35
dtype: int64

In [15]:
final = {'internal1':internal1,'internal2':internal2}
final = pd.DataFrame(final)
print(final)
print(type(final))

    internal1  internal2
s1         35         35
s2         35         35
s3         35         35
<class 'pandas.core.frame.DataFrame'>

In [16]:
final.columns # Returns the names of column

Index(['internal1', 'internal2'], dtype='object')

In [17]:
final.values

array([[35, 35],
       [35, 35],
       [35, 35]], dtype=int64)

In [18]:
final.values[1]

array([35, 35], dtype=int64)

In [20]:
final.values[2][0] = 350

In [22]:
final.values

array([[ 35,  35],
       [ 35,  35],
       [350,  35]], dtype=int64)

In [23]:
final.values[1][1] = 1996

In [24]:
final.values

array([[  35,   35],
       [  35, 1996],
       [ 350,   35]], dtype=int64)

In [26]:
for row in final.values:
    print('Internal1 - ',row[0],'Internal2 -',row[1])

Internal1 -  35 Internal2 - 35
Internal1 -  35 Internal2 - 1996
Internal1 -  350 Internal2 - 35

In [27]:
final.loc['s4'] = [20,18]
final

    internal1  internal2
s1         35         35
s2         35       1996
s3        350         35
s4         20         18

In [28]:
final.values[1][0] = 66

In [29]:
final.loc['s4'] = [20,18]
final

    internal1  internal2
s1         35         35
s2         66       1996
s3        350         35
s4         20         18

In [30]:
pwd

'C:\\Users\\Admin\\Desktop\\problem solving'

In [36]:
filePath = 'C:\\Users\\Admin\\Desktop\\problem solving\\Income.csv'
def readCsvData(filePath):
     return pd.read_csv(filePath)
readCsvData(filePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [37]:
for row in df.values:
    print(row[1], ' : ' ,row[-1])

NameError: name 'df' is not defined

In [38]:
f

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [39]:
for row in df.values:
    print(row[1], ' : ' ,row[-1])

Alabama  :  41381
Alaska  :  61137
Arizona  :  50602
Arkansas  :  39919
California  :  57528

In [43]:
#Average income of california
def avgofState():
    s = 0
    for i in range(2,11):
        s += df.values[4][i]
    return s // len(df.values[4][2:])
avgofState()

55350

#### Function which only displays the column names in the list
### GEOID state

In [49]:
def printDataFrameColumns(df):
    li = []
    columns = df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [3]:
import pandas as pd
filePath = 'C:\\Users\\Admin\\Desktop\\problem solving\\RegularSeasonCompactResults.csv'
def readCsvData(filePath):
     return pd.read_csv(filePath)
readCsvData(filePath)

FileNotFoundError: [Errno 2] File b'C:\\Users\\Admin\\Desktop\\problem solving\\RegularSeasonCompactResults.csv' does not exist: b'C:\\Users\\Admin\\Desktop\\problem solving\\RegularSeasonCompactResults.csv'

In [6]:
filePath = 'C:\\Users\\Admin\\Desktop\\problem solving\\RegularSeasonCompactResults.csv'
def readCsvData(filePath):
     return pd.read_csv(filePath)
df = readCsvData(filePath)
print(df)

FileNotFoundError: [Errno 2] File b'C:\\Users\\Admin\\Desktop\\problem solving\\RegularSeasonCompactResults.csv' does not exist: b'C:\\Users\\Admin\\Desktop\\problem solving\\RegularSeasonCompactResults.csv'

In [11]:
import pandas as pd 
data = pd.read_csv('RegularSeasonCompactResults.csv')
data.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [15]:
data.shape

(145289, 8)

In [16]:
data.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0